
/*Import de Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

/*Zerando tudo*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Castoro', serif;
}


/*Tratamento da Imagem do Login*/
.img {
    width: 300px;
    height: 400px;

}
img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15%;
    
}

/*Centralizar os itens na Tela e adicionar uma  fundo*/
html{
    /*--Tamanho todo o Html--*/
    width: 100vw; 
    height: 84vh;
    /*--Tamanho da Fonte de todo o Html--*/
    font-size: 62.5%;
    /*--Background de todo o Html--*/
    background-image: url(../imagem/backgroud.jpg);
    background-size: cover;
    background-position: center center;
    background-position-x: 0px;
    background-repeat: no-repeat;
    /*--Centralizar e Alinhar os Itens de todo o Html--*/
    display: flex;
    justify-content: right; /*--Alinhar o eixo X para a direita--*/
    align-items: center; /*--Alinhar o eixo Y--*/
    /*--Dando um espaço a mais do topo ate o item--*/
    padding-top: 10px;
    padding-right: 3%;
}

/*Organizar o Box Conteudo ( img, login)*/

.conteudo {
    display: flex;
    box-shadow: 10px 5px 5px black;
    

}

.login{
    width: 300px;
    height: 400px;
    background-color: rgba(228, 228, 228,0.7); /*os ultimos digitos regula a opaciadade 0 ate 1*/
    padding: 2rem;
    padding-top: 1rem;
    border-bottom-right-radius: 4%;
   
    display: flex; 
    flex-direction: column;/*direcionar os itens como coluna*/
}


/*Modificar o H2*/
.login h2{
    font-size: 2.5rem;/* 30 px*/
    align-self: flex-start;/*forçar ele ficar do lado esquerdo da box*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: RGB(55, 52, 47,0.9);
    border-bottom: 1px solid RGB(55, 52, 47,0.6); /*Adicionar um linha abaixo do Login*/
}

/*Modificar o label*/
.login label{
    font-size: 1.6rem;
    color: RGB(55, 52, 47,0.9);
    margin-bottom: 0.5rem;
}

/*Modificar o Imputs*/

.login input{
    margin-bottom: 2rem;
    height: 2rem;
    border: none;
    outline: none; /*Ira retirar a linha da borda quando o mouse se aproxima*/
    background-color:transparent; /*Ira deixar o fundo transparente da input*/
    border-bottom: 1px solid RGB(55, 52, 47,0.9); /*ira deixar a linha preta*/
    transition: all  30ms ease;  /*tempo de Hover, o ease e para dar o toque suave se quiser colocar*/

}

.login input:hover { /*animacao da linha do da input*/
    border-bottom: 1px solid RGB(233, 67, 41);
}

/*Modificar os links*/
.links {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

}

.links a{
    font-size: 1.1rem;
    color: rgb(88, 89, 146);
    margin-bottom: 2rem;
}

.links a:hover{/*animacao ao passar o mouse por cima*/
    
    color: rgb(238, 24, 24);
    
}

/*Modificar os Botoes*/
.login button{
    margin-bottom: 0.4rem;
    height: 3.2rem;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer; /*Trocando o icone do cursor*/
    font-size: 1.4rem;
    border-radius: 4px;
}

.login span{
    margin-left: 1rem; /*Irá dar um pequeno espacamento entre o icone no botao e o texto*/
}

.btn { /*botao entrar*/
    background-color: #fa7b48;
    transition: all  30ms ease;
}
.btn:hover { /*botao entrar*/
    background-color: #f06630;
    transition: all  30ms ease;
}
.facebook {
    background-color:#3b5998 ;
    transition: all  30ms ease;
}
.facebook:hover {
    background-color:#1c4191 ;
}

.instagram {
background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf); /*Irá fazer o gradiente comecando de um angulo de 45graus*/
transition: all  30ms ease;
}

.instagram:hover {
    background: linear-gradient(45deg,#f5ca55,#f5720f,#b81860,#961ec5); /*Irá fazer o gradiente comecando de um angulo de 45graus*/
    
    }